.apple__list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.apple__item{
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.apple__item-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.apple__item-title{
    margin-top: 20px;
    color: #000;
    line-height:20px;
    text-align: center;
}
@media only screen and (max-width:992px){
    .apple__list{
        grid-template-columns: repeat(1,1fr);
    }
    .apple__item{
        display: flex;
        align-items: center;
    }
    .apple__item-img{
        width: 50%;
        max-width: 300px;
        margin-right: 10px;
    }
.apple__item-title{
    font-size:15px;
}
}
@media only screen and (max-width:420px){
    .apple__item{
        flex-direction: column;
        justify-content: flex-start;
    }
    .apple__item-img{
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }
}